
@import "~normalize.css";

@import "_variables";
@import "modules/navigation.scss";
@import "modules/content.scss";
@import "modules/footer.scss";



html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    }

   body {
       margin: 0;
       padding: 0;
       background: url(../assets/img/pizzeria.png);
       background-attachment: fixed;
       background-size: cover;
   } 


    